// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
    min-height: 100vh;
}

.card {
    cursor: pointer;
    transition: all .3s ease;
    height: 200px;
    overflow: hidden;

    .title {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-link {
        text-decoration: none;
    }

    &:hover {
        background-color: $primary;
        color: $light;

        .title {
            color: $light !important;
        }

        .card-link {
            color: $light;
        }
    }
}